
mat-progress-spinner{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.headerTable{
    //font: normal normal bold 12px/14px DM Sans!important;
    background-color: #006540!important;
    color: white!important;
    text-align: center;
    font-size: 8pt !important;
}
.headerTable-start{
    // font: normal normal bold 12px/14px DM Sans!important;
    background-color: #006540!important;
    color: white!important;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.headerTable-end{
    // font: normal normal bold 12px/14px DM Sans!important;
    // font: var(--unnamed-font-style-normal) normal bold 16px/22px var(--unnamed-font-family-nunito-sans);
    background-color: #006540!important;
    color: white!important;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.rowTable-pair{
    background-color: #f5f5f5!important;
    border-bottom-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    border-top-right-radius: 5px!important;
    height: 10px !important;
}

.rowTable-no-pair{
    background-color: white;
    height: 10px !important;
}

.cellTable{
    border-color: #f5f5f5;
}

.cellTable-start{
    //border-color: #f5f5f5!important;
    border-bottom-width: 0px!important;
    border-bottom-style: solid!important;
    border-bottom-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
}

.cellTable-end{
    // border-color: #f5f5f5;
    border-bottom-width: 0px!important;
    border-bottom-style: solid!important;
    border-bottom-right-radius: 5px!important;
    border-top-right-radius: 5px!important;
}

.table-container{
    height: 30%!important;
    // max-height: 10px!important;
}
.titleDialog{
    text-align: center;
}
.mat-footer-row {
    border: 1px solid #e7e7e7;
    font-weight: bold;
    height: 1px !important;
}

.input-search{
    width:250px;
    height:30px;
    background:#ffffff;
    border:1px solid rgba(182, 180, 180, 0.486);
    border-radius:5px;
    font-size:8pt !important;
    padding-left:8px;
    color: #006540;
}

.container-button{
    position: relative;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.btn-new-user{
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top: 15px;
    font-size: 8pt;
    font-family: Roboto, "Nunito Sans", sans-serif 8pt !important;
}

